*,
body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  background-color: rgb(160, 253, 238);
  background-image: linear-gradient(90deg, #8bfdf8, #7bc2f1);
}

